<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Géneros</title>
    <link rel="stylesheet" href="../../Resources/css/styles.css">
    <link rel="stylesheet" href="../../Resources/css/estilo_tabla.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
    <!-- Agregamos la hoja de estilos de RemixIcon -->
</head>

<body>

    <header class="header">
        <!-- Código del encabezado omitido por brevedad -->
    </header>

    <main class="main section">
        <div class="container">
            <h1 class="section__title">Géneros</h1>
            <!-- Formulario de búsqueda y botón de agregar -->
            <form id="searchForm" class="search-container">
                <div class="search-form" id="search_generos">
                    <input type="search" name="search" class="search-input" placeholder="Buscar nombre del género...">
                    <button class="search-button" type="submit"><i class="ri-search-line"></i></button>
                </div>
            </form>
            <div class="agregar">
                <button class="add-button" onclick="openCreate()"><i class="ri-add-line"></i> Agregar</button>
            </div>

            <!-- Tabla con estilo elegante -->
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="2" id="rowsFound"></td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content card">
                <span onclick="closeModal()" class="close">&times;</span>
                <div class="card-body">
                    <h2 id="modalTitle"></h2>
                    <br>
                    <form id="saveForm">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" id="idGenero" name="idGenero" style=" display: none;">
                        <div>
                            <label class="genero__label">Nombre del género</label>
                            <input type="text" name="nombreGEN" id="nombreGEN" placeholder="Escribe tu género"
                                class="genero__input">
                        </div>
                        <br><br>
                        <button type="submit" class="genero__button button">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!--=============== SWIPER JS ===============-->
    <script src="../../Resources/js/swiper-bundle.min.js"></script>
    <!--=============== SCROLLREVEAL ===============-->
    <script src="../../Resources/js/scrollreveal.min.js"></script>
    <script src="../../Resources/js/header_admin.js"></script>
    <script src="../../Resources/js/modals_.js"></script>
    <script src="../../Resources/js/main.js"></script>
    <script src="../../Resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/admin/generos.js"></script>
</body>

</html>