<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros</title>
    <link rel="stylesheet" href="../../Resources/css/styles.css">
    <link rel="stylesheet" href="../../Resources/css/estilo_libros.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
    <!-- Agregamos la hoja de estilos de RemixIcon -->
</head>

<body>

    <header class="header">
        <!-- Código del encabezado omitido por brevedad -->
    </header>

    <main class="main section">
        <div class="container">
            <h1 class="section__title">Gestión de libros</h1>
            <!-- Formulario de búsqueda y botón de agregar -->
            <form id="searchForm" class="search-container">
                <div class="search-form" id="search_libros">
                    <input type="search" name="search" class="search-input" placeholder="Buscar por título o descripción...">
                    <button class="search-button" type="submit"><i class="ri-search-line"></i></button>
                </div>
                <div class="action-icons">
                    <a href="javascript:void(0);" onclick="openInventarioReport()" class="report-link">
                        <i class="ri-file-pdf-2-fill" style="font-size: 2em;"></i>
                    </a>
                </div>
            </form>
            <div class="agregar">
                <button class="add-button" onclick="openCreate()"><i class="ri-add-line"></i> Agregar</button>
            </div>

            <!-- Tabla con estilo elegante -->
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="2" id="rowsFound"></td>
                    </tr>
                    <tr>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Precio</th>
                        <th>Existencias</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                <tbody id="tableBody">

                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content card">
                <span onclick="closeModal()" class="close" style="font-size: 40px; font-weight: bold;">&times;</span>
                <div class="card-body">
                    <h2 id="modalTitle"></h2><br>
                    <form id="saveForm">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" id="id_libro" name="id_libro" style=" display: none;">
                        <div class="libros__group grid">
                            <div>
                                <label for="titulo" class="libro__label">Título</label>
                                <input type="text" name="titulo" id="titulo" placeholder="Título del libro"
                                    class="libro__input" required>
                            </div>
                            <div>
                                <label for="autor" class="libro__label">Autor</label>
                                <select name="autor" id="autor" class="libro__input" required>Elige una opción
                                </select>
                            </div>
                            <div>
                                <label for="precio" class="libro__label">Precio</label>
                                <input type="number" step="0.01" name="precio" id="precio"
                                    placeholder="Precio del libro" class="libro__input" required>
                            </div>
                            <div>
                                <label for="descripcion" class="libro__label">Descripción</label>
                                <input type="text" name="descripcion" id="descripcion"
                                    placeholder="Descripción del libro" class="libro__input">
                            </div>
                            <div>
                                <label for="imagen" class="libro__label">Imagen</label>
                                <input type="file" name="imagen" id="imagen" accept=".png, .jpg" class="libro__input">
                            </div>
                            <div>
                                <label for="clasificacion" class="libro__label">Clasificación</label>
                                <select name="clasificacion" id="clasificacion" class="libro__input" required>
                                </select>
                            </div>
                            <div>
                                <label for="editorial" class="libro__label">Editorial</label>
                                <select name="editorial" id="editorial" class="libro__input"
                                    placeholder="Elige la editorial" required>
                                </select>
                            </div>

                            <div>
                                <label for="existencias" class="libro__label">Existencias</label>
                                <input type="number" name="existencias" id="existencias"
                                    placeholder="Número de existencias" class="libro__input" required>
                            </div>
                            <div>
                                <label for="genero" class="libro__label">Género</label>
                                <select name="nombreGEN" id="nombreGEN" class="libro__input" required>
                                </select>
                            </div>
                            <br>
                            <div>
                                <button type="submit" id="boton" class="genero__button button">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal de vista con imagen a la izquierda -->
        <div id="myModalView" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content card">
                <span onclick="closeModalDetalles()" class="close"
                    style="font-size: 40px; font-weight: bold;">&times;</span>
                <div class="card-body">
                    <h2 id="modalTitle"></h2><br>
                    <div class="libros_group grid">
                        <div>
                            <h3 id="tituloVista"></h3>
                            <br>
                            <img id="vista" src="${SERVER_URL}images/libros/${row.imagen}" width="100">
                        </div>
                        <div>
                            <div>
                                <label for="autor" class="libro__label">Autor:</label>
                                <p id="autorVista"></p>
                            </div>
                            <div>
                                <label for="precio" class="libro__label">Precio:</label>
                                <p id="precioVista"></p>
                            </div>
                            <div>
                                <label for="descripcion" class="libro__label">Descripción:</label>
                                <p id="descripcionVista"></p>
                            </div>
                            <div>
                                <label for="clasificacion" class="libro__label">Clasificación:</label>
                                <p id="clasificacionVista"></p>
                            </div>
                            <div>
                                <label for="editorial" class="libro__label">Editorial:</label>
                                <p id="editorialVista"></p>
                            </div>
                            <div>
                                <label for="existencias" class="libro__label">Existencias:</label>
                                <p id="existenciasVista"></p>
                            </div>
                            <div>
                                <label for="genero" class="libro__label">Género:</label>
                                <p id="generoVista"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </main>
    <!--=============== SWIPER JS ===============-->
    <script src="../../Resources/js/swiper-bundle.min.js"></script>
    <!--=============== SCROLLREVEAL ===============-->
    <script src="../../Resources/js/scrollreveal.min.js"></script>
    <script src="../../Resources/js/header_admin.js"></script>
    <!--<script src="../../Resources/js/footer.js"></script>-->
    <script src="../../Resources/js/modals_.js"></script>
    <script src="../../Resources/js/main.js"></script>
    <script src="../../Resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/admin/libros.js"></script>
</body>

</html>