<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="./assets/img/favicon (1).png" type="image/x-icon">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="../../Resources/css/swiper-bundle.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../../Resources/css/styles.css">
    
    <link rel="stylesheet" href="../../Resources/css/nuevaC.css">

    <title>Power Letters - Nueva Contraseña</title>

    
</head>

<body>

    <form action="" class="new-password__form grid">

        <h3 class="new-password__title">Nueva Contraseña</h3>

        <div class="new-password__group grid">

            <div>
                <label for="new-password" class="new-password__label">Ingrese su nueva contraseña</label>
                <input type="password" id="new-password" class="new-password__input">
            </div>

            <div>
                <label for="confirm-password" class="new-password__label">Confirme su nueva contraseña</label>
                <input type="password" id="confirm-password" class="new-password__input">
            </div>

        </div>

        <div>
            <button type="submit" class="new-password__button button">Guardar Contraseña</button>
        </div>

    </form>

</body>

</html>