<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="../../Resources/css/styles.css">
    <link rel="stylesheet" href="../../Resources/css/estilo_tabla.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
    <!-- Agregamos la hoja de estilos de RemixIcon -->
</head>

<body>

    <header class="header">
        <!-- Código del encabezado omitido por brevedad -->
    </header>

    <main class="main section">
        <div class="container">
            <br>
            <h1 class="section__title">Gestión de pedidos</h1>
            <!-- Formulario de búsqueda y botón de agregar -->
            <form id="searchForm" class="search-container">
                <div class="search-form" id="search_generos">
                    <input type="search" name="search" class="search-input"
                        placeholder="Buscar por dirección, cliente, fecha o estado...">
                    <button class="search-button" type="submit"><i class="ri-search-line"></i></button>
                </div>
            </form>
            
            <div class="reporte-container">
                <button id="toggleReporteForm" class="reporte-button">Reporte de ventas</button>
                <form id="reporteVentasForm" class="reporte-form" style="display: none;">
                    <div class="form-group">
                        <label for="fechaInicio">Fecha de inicio:</label>
                        <input type="date" id="fechaInicio" class="reporte-input" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="fechaFin">Fecha de fin:</label>
                        <input type="date" id="fechaFin" class="reporte-input" required>
                    </div>
                    
                    <button type="button" class="reporte-button" onclick="openVentasPorPeriodoReport()">Generar Reporte</button>
                </form>
            </div>
            
            <!-- Tabla con estilo elegante -->
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="2" id="rowsFound"></td>
                    </tr>
                    <tr>
                        <th>Fecha de pedido</th>
                        <th>Dirección de pedido</th>
                        <th>Cliente</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tableBody">

                </tbody>

            </table>
        </div>

        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content card">
                <span onclick="closeModal()" class="close" style="font-size: 40px; font-weight: bold;">&times;</span>
                <div class="card-body">
                    <h2 id="modalTitle"></h2>
                    <br>
                    <form id="saveForm">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar -->
                        <input type="number" id="id_pedido" name="id_pedido" style=" display: none;">
                        <div>
                            <label class="genero__label">Cliente</label>
                            <input type="text" name="usuario" id="usuario" placeholder="Escribe tu género"
                                class="genero__input">
                        </div>
                        <div>
                            <label class="genero__label">Dirección</label>
                            <input type="text" name="direccion" id="direccion" placeholder="Escribe tu género"
                                class="genero__input">
                        </div>

                        <div>
                            <label class="genero__label">Estado</label>
                            <select name="estadoPedido" id="estadoPedido" class="libro__input" required>
                            </select>
                        </div>

                        <div>
                            <label class="genero__label">Fecha</label>
                            <input type="text" name="fecha" id="fecha" placeholder="Escribe tu género"
                                class="genero__input">
                        </div>

                        <br><br>
                        <button type="submit" class="genero__button button">Guardar</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal de la vista con imagen a la izquierda -->
        <div id="myModalView" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content card">
                <span onclick="closeModalDetalles()" class="close"
                    style="font-size: 40px; font-weight: bold;">&times;</span>
                <div class="card-body">
                    <h2 id="modalTitle"></h2><br>
                    <div class="libros_group grid">
                        <div>
                            <h3 id="tituloVista"></h3>
                            <br>
                            <img id="vista" src="${SERVER_URL}images/libros/${row.imagen}" width="100">
                        </div>
                        <div>
                            <div>
                                <label for="Cantidad" class="genero__label">Cantidad:</label>
                                <p id="Cantidad"></p>
                            </div>
                            <div>
                                <label for="Comentario" class="genero__label">Comentario:</label>
                                <p id="Comentario"></p>
                            </div>
                            <div>
                                <label for="Cliente" class="genero__label">Solicitado por el cliente:</label>
                                <p id="Cliente"></p>
                            </div>
                            <div>
                                <label for="direccion" class="genero__label">Dirección de pedido:</label>
                                <p id="direccionPedido"></p>
                            </div>
                            <div>
                                <label for="Estado" class="genero__label">Estado:</label>
                                <p id="Estado"></p>
                            </div>
                            <div>
                                <label for="Fecha" class="genero__label">Fecha:</label>
                                <p id="Fecha"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de la vista con gráfico -->
        <div id="chartModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content card">
                <span onclick="CerrarModalGrafica()" class="close"
                    style="font-size: 40px; font-weight: bold;">&times;</span>
                <div class="card-body">
                    <h2 id="chartTitle">Evolución de pedidos por estado</h2>
                    <br>
                    <!-- Contenedor para mostrar el gráfico -->
                    <div id="chartContainer"></div>
                    <div class="modal-footer">
                        <br><br><br>
                        <button type="submit"  class="genero__button button" onclick="CerrarModalGrafica()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <!--=============== SWIPER JS ===============-->
    <script src="../../Resources/js/swiper-bundle.min.js"></script>
    <!--=============== SCROLLREVEAL ===============-->
    <script src="../../Resources/js/scrollreveal.min.js"></script>
    <script src="../../Resources/js/header_admin.js"></script>
    <!--<script src="../../Resources/js/footer.js"></script>-->
    <script src="../../Resources/js/modals_.js"></script>
    <script src="../../Resources/js/main.js"></script>
    <script src="../../Resources/js/sweetalert.min.js"></script>
    <!-- Llamada a la librería para generar los gráficos. Para más información https://www.chartjs.org/ -->
    <script type="text/javascript" src="../../resources/js/chart.umd.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/admin/pedidos.js"></script>
</body>

</html>