<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de clientes</title>
    <link rel="stylesheet" href="../../resources/css/styles.css">
    <link rel="stylesheet" href="../../resources/css/estilo_tabla.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
    <!-- Agregamos la hoja de estilos de RemixIcon -->
</head>

<body>

    <header class="header">
        <!-- Código del encabezado omitido por la brevedad -->
    </header>

    <main class="main section">
        <div class="container">
            <h1 class="section__title">Gestión de clientes</h1>
            <!-- Formulario de búsqueda y botón de agregar -->
            <form id="searchForm" class="search-container">
                <div class="search-form" id="search_generos">
                    <input type="search" name="search" class="search-input" placeholder="Buscar por nombre, usuario del cliente o correo...">
                    <button class="search-button" type="submit"><i class="ri-search-line"></i></button>
                </div>
            </form>

            <!-- Tabla con información de usuarios -->
            <table class="table">
                <thead>
                    <tr>
                        <td colspan="2" id="rowsFound"></td>
                    </tr>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DUI</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tableBody">

                </tbody>
            </table>
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content card">
                <span onclick="closeModal()" class="close" style="font-size: 40px; font-weight: bold;">&times;</span>
                <div class="card-body">
                    <h2 id="modalTitle"></h2>
                    <br>
                    <form id="saveForm">
                        <!-- Campo oculto para asignar el id del registro al momento de modificar los datos -->
                        <input type="number" id="id_usuario" name="id_usuario" style=" display: none;">
                        <div>
                            <label for="estado_cliente" class="genero__label">Estado</label>
                            <select id="estado_cliente" name="estado_cliente" class="genero__input">
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </div>
                        <br><br>
                        <button type="submit" class="genero__button button">Guardar</button>
                    </form>
                </div>
            </div>
        </div>


    </main>

    <!--=============== SWIPER JS ===============-->
    <script src="../../resources/js/swiper-bundle.min.js"></script>
    <!--=============== SCROLLREVEAL ===============-->
    <script src="../../resources/js/scrollreveal.min.js"></script>
    <script src="../../resources/js/header_admin.js"></script>
    <!--<script src="../../resources/js/footer.js"></script>-->
    <script src="../../resources/js/modals_.js"></script>
    <script src="../../resources/js/main.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/utils/components.js"></script>
    <script src="../../controllers/admin/usuario.js"></script>
</body>

</html>