.fa-star {
  font-family: FontAwesome;
}

.checked {
  color: orange;
}

.calificacion__input .fa-star {
  font-family: FontAwesome;
}

.calificacion__input .checked {
  color: orange;
}


/* Estilo específico para la tabla */
 .table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: var(--first-color); /* Cambia al color que deseemos */
  color: var(--white-color); /* Cambia al color al que deseemos */
  font-weight: bold;
  text-transform: uppercase;
}

.table tbody tr:nth-child(even) {
  background-color: var(--container-color); /* Cambia al color que deseemos */
}

.table tbody tr:hover {
  background-color: var(--body-color); /* Cambia al color que deseemos */
}

.table td {
  border-bottom: 1px solid var(--border-color); /* Cambia al color que deseemos */
}

/* Estilo para los íconos de acciones */
.action-icons {
  display: flex;
  gap: 40px;
}

.action-icons a {
  color: var(--first-color); /* Cambia al color que deseemos */
  font-size: 1.9rem;
  cursor: pointer;
}

.action-icons i.ri-eye-off-fill {
  color: red; /* Color para el icono de bloqueo */
}

.action-icons i.ri-eye-fill {
  color: green; /* Color para el icono de visualización */
}


/* Estilos para el formulario de búsqueda */
.search-form {
display: flex; /* Hace que los elementos hijos se muestren en línea */
align-items: center; /* Centra verticalmente los elementos hijos */
background-color: var(--container-color); /* Color de fondo del formulario */
border: 2px solid var(--border-color); /* Borde sólido con el color especificado */
padding-inline: 1rem; /* Relleno horizontal */
width: 50%; /* Ancho del formulario */
}

/* Estilos para el botón de búsqueda */
.search-button {
color: var(--first-color); /* Color del texto del botón */
border: none; /* Sin borde */
border-radius: 5px; /* Bordes redondeados */
cursor: pointer; /* Cambia el cursor al puntero */
}

/* Estilos para el campo de entrada de búsqueda */
.search-input {
width: 100%; /* Ancho completo del contenedor */
padding-block: 1rem; /* Relleno vertical */
background-color: var(--container-color); /* Color de fondo */
color: var(--text-color); /* Color del texto */
flex: 1; /* El campo de entrada se expande para ocupar el espacio disponible */
}


.add-button {
padding: 7px 16px;
background-color: var(--first-color); /* Cambia al color que deseemos */
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

.add-button:hover {
background-color: #218838; /* Cambia al color que deseemos */
}

.search-container {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}

.agregar {
margin-left: 20px;
}

/* Estilos para el contenedor principal del modal */
.modal {
position: fixed; /* Se posiciona fijamente en relación con la ventana del navegador */
top: 0; /* Desde la parte superior de la ventana */
left: 0; /* Desde el lado izquierdo de la ventana */
width: 100%; /* Ancho completo de la ventana */
height: 100%; /* Altura completa de la ventana */
display: flex; /* Usa el modelo de caja flexible */
justify-content: center; /* Centra horizontalmente */
align-items: center; /* Centra verticalmente */
}

/* Estilos para el fondo oscuro detrás del modal */
.modal-background {
position: fixed; /* Se posiciona fijamente en relación con la ventana del navegador */
top: 0; /* Desde la parte superior de la ventana */
left: 0; /* Desde el lado izquierdo de la ventana */
width: 100%; /* Ancho completo de la ventana */
height: 100%; /* Altura completa de la ventana */
background-color: rgba(0, 0, 0, 0.5); /* Color de fondo oscuro semitransparente */
}

/* Estilos para la tarjeta modal */
.card {
position: fixed; /* Se posiciona fijamente en relación con la ventana del navegador */
top: 50%; /* Desde el 50% de la parte superior */
left: 50%; /* Desde el 50% del lado izquierdo */
transform: translate(-50%, -50%); /* Mueve el elemento a la mitad de su propio tamaño hacia arriba y hacia la izquierda */
display: flex; /* Usa el modelo de caja flexible */
justify-content: center; /* Centra horizontalmente */
align-items: center; /* Centra verticalmente */
background-color: var(--body-color); /* Color de fondo de la tarjeta */
border-radius: 8px; /* Bordes redondeados */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
padding: 20px; /* Espaciado interno */
width: 700px; /* Ancho de la tarjeta */
height: 550px; /* Altura de la tarjeta */
z-index: 2; /* Asegura que esté por encima del fondo oscuro */
}

/* Estilos para el botón de cierre dentro de la tarjeta modal */
.card .close {
position: absolute; /* Se posiciona absolutamente en relación con su contenedor */
top: 10px; /* Desde la parte superior 10px */
right: 10px; /* Desde el lado derecho 10px */
cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa sobre él */
font-size: 20px; /* Tamaño de fuente */
color: var(--first-color); /* Color del texto */
}


.genero__label,
.clasificacion__label,
.editoriales__label,
.autores__label{
display: block;
text-align: initial;
color: var(--title-color);
font-weight: var(--font-medium);
margin-bottom: .25rem;
}

.genero__input,
.clasificacion__input,
.editorial__input,
.autores__input,
.register__input,
.libro__input{
width: 100%;
background-color: var(--container-color);
border: 2px solid var(--border-color);
padding: 1rem;
color: var(--text-color);
}

/* Media query para pantallas de tamaño pequeño (móviles) */
@media only screen and (max-width: 600px) {
.table th,
.table td {
  padding: 8px; /* Reducir el padding en celdas de la tabla */
}

.table th {
  font-size: 14px; /* Reducir el tamaño de fuente de las cabeceras de la tabla */
}

/* Agrega más estilos específicos para pantallas pequeñas si es necesario */
}

/* Media query para pantallas pequeñas (móviles) */
@media only screen and (max-width: 600px) {
.card {
  width: 90%; /* Ajusta el ancho de la tarjeta modal para pantallas pequeñas */
  height: auto; /* Ajusta la altura de la tarjeta modal para que se adapte al contenido */
  padding: 15px; /* Reduce el espaciado interno de la tarjeta modal */
}

.card .close {
  font-size: 18px; /* Reduce el tamaño de fuente del botón de cierre */
}
}

/* Media query para pantallas medianas (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
.card {
  width: 70%; /* Ajusta el ancho de la tarjeta modal para pantallas medianas */
  height: auto; /* Ajusta la altura de la tarjeta modal para que se adapte al contenido */
  padding: 18px; /* Ajusta el espaciado interno de la tarjeta modal */
}
}

.prueba{
  text-align: center;
} 

.col-sm-12 col-md-6 col-lg-4 canvas {
  width: 400px;
  height: 300px;
}