<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carrito de compras</title>
	<link rel="stylesheet" href="../../Resources/css/styles.css">
	<link rel="stylesheet" href="../../Resources/css/estilo_tabla.css">
	<link rel="stylesheet" href="../../resources/css/carrito_p.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
	<!-- Agregamos la hoja de estilos de RemixIcon -->
</head>

<body>

	<header class="header">
		<!-- Código del encabezado omitido por brevedad -->
	</header>

	<main class="main section">
		<div class="container">
			<h1 class="section__title">Carrito de compras</h1>
			<!-- Formulario de búsqueda y botón de agregar -->
			<!-- Tabla con estilo elegante -->
			<table class="table">
				<thead>
					<tr>
						<td colspan="2" id="rowsFound"></td>
					</tr>
					<tr>
						<th>LIBRO</th>
						<th>PRECIO (US$)</th>
						<th>CANTIDAD</th>
						<th>SUBTOTAL (US$)</th>
						<th>ACCIONES</th>
					</tr>
				</thead>
				<tbody id="tableBody">
				</tbody>
			</table>
		</div>

		<div style="display: flex; flex-direction: column; align-items: center;">
			<!-- Párrafo para mostrar el monto total a pagar -->
			<p style="text-align: center; width: 100%;">TOTAL A PAGAR (US$) <b id="pago"></b></p>

			<!-- Párrafo para mostrar un botón que finaliza el pedido -->
			<p style="text-align: center; width: 100%;">
				<button type="button"
					style="background-color: #000000; color: white; padding: 8px 16px; border: none; border-radius: 4px; cursor: pointer;"
					onclick="finishOrder()">
					<i class="ri ri-credit-card-fill"></i> Finalizar pedido
				</button>
			</p>
			<br>

			<!-- Párrafo para mostrar un enlace a la página web principal -->
			<p style="text-align: center; width: 100%;">
				<a href="index.html"
					style="background-color: #000000; color: white; padding: 8px 16px; border: none; border-radius: 4px; text-decoration: none;">
					<i class="ri ri-cart-fill"></i> Seguir comprando
				</a>
			</p>
		</div>

		<!-- Modal -->
		<div id="myModal" class="modal">
			<div class="modal-background"></div>
			<div class="modal-content card">
				<span onclick="closeModal()" class="close">&times;</span>
				<div class="card-body">
					<h2>Cambiar cantidad</h2>
					<br>
					<form id="saveForm">
						<!-- Campo oculto para asignar el id del registro al momento de modificar -->
						<input type="number" id="idDetalle" name="idDetalle" style=" display: none;">
						<div>
							<label class="genero__label">Cantidad</label>
							<input id="cantidadLibro" type="number" name="cantidadLibro" min="1" class="libro__input"
								required>
						</div>
						<br><br>
						<button type="submit" class="genero__button button">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</main>
	<!--=============== SWIPER JS ===============-->
	<script src="../../Resources/js/swiper-bundle.min.js"></script>
	<!--=============== SCROLLREVEAL ===============-->
	<script src="../../Resources/js/scrollreveal.min.js"></script>
	<script src="../../Resources/js/main.js"></script>
	<script src="../../Resources/js/modals_.js"></script>
	<script src="../../Resources/js/sweetalert.min.js"></script>
	<script type="text/javascript" src="../../controllers/utils/components.js"></script>
	<script type="text/javascript" src="../../controllers/utils/public.js"></script>
	<script type="text/javascript" src="../../controllers/public/carrito.js"></script>

	<script>
		// Llamada a la función loadTemplate para cargar el encabezado y pie de la página
		loadTemplate();
	</script>
</body>

</html>