<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/styles.css">
    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

</head>

<body>
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h3 id="mainTitle"></h3>
        <!-- Formulario para cambiar datos personales -->
        <form class="row g-3" id="profileForm">
            <div class="col-12">
                <label for="nombre_usuario" class="form-label label-dark">Nombre</label>
                <div class="input-group">
                    <input type="text" id="nombre_usuario" name="nombre_usuario" class="form-control"
                        required>
                    <span class="input-group-text"><i class="ri-account-circle-fill"></i></span>
                </div>
            </div>
            <div class="col-12">
                <label for="apellido_usuario" class="form-label label-dark">Apellido</label>
                <input type="text" id="apellido_usuario" name="apellido_usuario" class="form-control"
                    required>
            </div>
            <div class="col-12">
                <label for="correo_usuario" class="form-label label-dark">Correo electrónico</label>
                <div class="input-group">
                    <input type="email" id="correo_usuario" name="correo_usuario" maxlength="100"
                        class="form-control" required>
                    <span class="input-group-text"><i class="ri-mail-fill"></i></span>
                </div>
            </div>
            <div class="col-12">
                <label for="dui_usuario" class="form-label label-dark">DUI</label>
                <div class="input-group">
                    <input type="text" id="dui_usuario" name="dui_usuario" placeholder="00000000-0"
                        class="form-control" required>
                    <span class="input-group-text"><i class="ri-file-text-fill"></i></span>
                </div>
            </div>
            <div class="col-12">
                <label for="telefono_usuario" class="form-label label-dark">Teléfono</label>
                <div class="input-group">
                    <input type="text" id="telefono_usuario" name="telefono_usuario" placeholder="0000-0000"
                        class="form-control" required>
                    <span class="input-group-text"><i class="ri-phone-fill"></i></span>
                </div>
            </div>
            <div class="col-12">
                <label for="nacimiento_usuario" class="form-label label-dark">Nacimiento</label>
                <input type="date" id="nacimiento_usuario" name="nacimiento_usuario" class="form-control"
                    required>
            </div>
            <div class="col-12">
                <label for="direccion_usuario" class="form-label label-dark">Dirección</label>
                <input type="text" id="direccion_usuario" name="direccion_usuario" maxlength="250"
                    class="form-control" required>
            </div>
            <div class="col-12">
                <label for="imagen" class="form-label label-dark">Imagen</label>
                <input type="file" name="imagen" id="imagen" accept=".png, .jpg" class="form-control">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary"><i class="ri-save-fill"></i></i> Guardar</button>
            </div>
        </form>
        <!-- Contenedor con enlace para abrir la caja de diálogo del formulario de cambiar constraseña -->
        <div class="text-center p-3">
            <button type="button" class="btn btn-secondary" onclick="openPassword()">
                <i class="ri-key-fill"></i> Cambiar contraseña
            </button>
        </div>
        <!-- Componente Modal para mostrar el formulario de cambio de contraseña -->
        <div class="modal fade" id="passwordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <!-- Contenido del componente Modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalTitle">Cambiar contraseña</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Formulario para actualizar contraseña -->
                    <form id="passwordForm">
                        <div class="modal-body row g-3">
                            <div class="col-sm-12 col-md-6 offset-md-3">
                                <label for="claveActual" class="form-label">Contraseña actual</label>
                                <input id="claveActual" type="password" name="claveActual" class="form-control"
                                    required>
                            </div>
                            <div class="col-12 text-center">
                                <span>CONTRASEÑA NUEVA</span>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="claveNueva" class="form-label">Contraseña</label>
                                <input id="claveNueva" type="password" name="claveNueva" class="form-control" required>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <label for="confirmarClave" class="form-label">Confirmar contraseña</label>
                                <input id="confirmarClave" type="password" name="confirmarClave" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="reset" class="btn btn-secondary">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio privado -->
    <script type="text/javascript" src="../../controllers/utils/editar.js"></script>
    
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/profile.js"></script>
      
</body>

</html>