<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Codificación de caracteres y escala inicial del viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Íconos Remix -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!-- Estilos del Swiper -->
    <link rel="stylesheet" href="../../Resources/css/swiper-bundle.min.css">

    <!-- Estilos CSS personalizados -->
    <link rel="stylesheet" href="../../Resources/css/styles.css">

    <!-- Título de la página -->
    <title>Power Letters</title>
</head>

<body>
    <!-- Espacios en blanco para el diseño -->
    <br><br><br><br><br><br><br><br><br>
    <!-- Título de sección -->
    <h2 class="section__title">
        Libros Recomendados
    </h2>
    <!-- Contenedor de los libros destacados -->
    <br><br><br>
    <div class="featured__container container">
        <!-- Swiper para la presentación de los libros -->
        <div class="featured__swiper swiper">
            <!-- Wrapper del Swiper -->
            <div class="swiper-wrapper" id="libros"></div>
        </div>
        <!-- Botones de navegación del Swiper -->
        <div class="swiper-button-prev">
            <i class="ri-arrow-drop-left-line"></i>
        </div>
        <div class="swiper-button-next">
            <i class="ri-arrow-drop-right-line"></i>
        </div>
    </div>

    <!-- Scripts JS -->
    <!-- Swiper JS -->
    <script src="../../Resources/js/swiper-bundle.min.js"></script>
    <!-- ScrollReveal -->
    <script src="../../Resources/js/scrollreveal.min.js"></script>
    <!-- Script para el pie de página -->
    <script src="../../Resources/js/footer.js"></script>
    <!-- Script principal -->
    <script src="../../Resources/js/main.js"></script>
    <!-- Librería de mensajes -->
    <script src="../../resources/js/sweetalert.min.js"></script>
    <!-- Componentes utilitarios -->
    <script src="../../controllers/utils/components.js"></script>
    <!-- Funciones públicas -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Controlador de libros -->
    <script src="../../controllers/public/libros.js"></script>
    <!-- Llamada a la función loadTemplate -->
    <script>
        // Llamada a la función loadTemplate para cargar el encabezado y pie de la página
        loadTemplate();
    </script>

</body>

</html>