<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Título de la página y metadatos -->
    <title>Inicio de sesión</title>
    <meta charset="utf-8">
    <meta name="author" content="Daniel Carranza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icono de la página -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">

    <!-- Estilos CSS -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/styles.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/custom.css">
</head>

<body>
    <main>
        <!-- Contenedor principal del formulario de inicio de sesión -->
        <div class="login-container">
            <div class="login-form">
                <!-- Título del formulario -->
                <h2>Log In</h2>
                <!-- Formulario de inicio de sesión -->
                <form id="sessionForm">
                    <!-- Campo para ingresar el correo -->
                    <div class="form-group">
                        <label for="correo_usuario">Correo</label>
                        <input type="email" id="correo_usuario" name="correo_usuario" class="form-control" required>
                    </div>
                    <!-- Campo para ingresar la contraseña -->
                    <div class="form-group">
                        <label for="clave_usuario">Contraseña</label>
                        <input type="password" id="clave_usuario" name="clave_usuario" class="form-control" required>
                    </div>
                    <!-- Botón para enviar el formulario -->
                    <button type="submit" class="btn btn-primary btn-block">Log In</button>
                </form>
                <!-- Enlaces adicionales -->
                <div class="login-links">
                    <!-- Enlace para registro -->
                    <a href="registro_c.html">¿No tienes una cuenta? Regístrate acá</a>
                    <!-- Enlace para recuperar contraseña -->
                    <a href="#">¿No encuentras tu contraseña?</a>
                </div>
            </div>
        </div>
    </main>

    <!-- Scripts JS -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <script type="text/javascript" src="../../controllers/public/login.js"></script>
</body>

</html>