<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Metadatos de la página -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página -->
    <title>Registro de usuarios</title>
    <!-- Icono de la página -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <!-- Estilos CSS -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../Resources/css/styles.css">
    <link rel="stylesheet" href="../../Resources/css/registro_publico.css">
    <!-- Librería de iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
</head>

<body>
    <main>
        <!-- Espacios para mantener el contenido alejado del borde de la ventana -->
        <br><br>
        <br><br>
        <br><br>
        <br><br><br><br>
        <!-- Contenedor principal del formulario de registro -->
        <div class="container_registro">
            <!-- Imagen del formulario -->
            <div class="imgR">
                <img src="../../Resources/img/imgPrimerUso.png" alt="Imagen">
            </div>
            <!-- Contenedor del formulario -->
            <div class="form_container">
                <!-- Contenido del formulario -->
                <div class="container_form">
                    <!-- Formulario de registro -->
                    <form class="row g-3" id="signupForm">
                        <!-- Campo para el reCAPTCHA -->
                        <input type="text" class="d-none" id="gRecaptchaResponse" name="gRecaptchaResponse">
                        <!-- Campo para el nombre -->
                        <div class="col-12">
                            <label for="nombre_usuario" class="form-label label-dark">Nombre</label>
                            <div class="input-group">
                                <input type="text" id="nombre_usuario" name="nombre_usuario" class="form-control"
                                    required>
                                <span class="input-group-text"><i class="ri-account-circle-fill"></i></span>
                            </div>
                        </div>
                        <!-- Campo para el apellido -->
                        <div class="col-12">
                            <label for="apellido_usuario" class="form-label label-dark">Apellido</label>
                            <input type="text" id="apellido_usuario" name="apellido_usuario" class="form-control"
                                required>
                        </div>
                        <!-- Campo para el correo electrónico -->
                        <div class="col-12">
                            <label for="correo_usuario" class="form-label label-dark">Correo electrónico</label>
                            <div class="input-group">
                                <input type="email" id="correo_usuario" name="correo_usuario" maxlength="100"
                                    class="form-control" required>
                                <span class="input-group-text"><i class="ri-mail-fill"></i></span>
                            </div>
                        </div>
                        <!-- Campo para el DUI -->
                        <div class="col-12">
                            <label for="dui_usuario" class="form-label label-dark">DUI</label>
                            <div class="input-group">
                                <input type="text" id="dui_usuario" name="dui_usuario" placeholder="00000000-0"
                                    class="form-control" required>
                                <span class="input-group-text"><i class="ri-file-text-fill"></i></span>
                            </div>
                        </div>
                        <!-- Campo para el teléfono -->
                        <div class="col-12">
                            <label for="telefono_usuario" class="form-label label-dark">Teléfono</label>
                            <div class="input-group">
                                <input type="text" id="telefono_usuario" name="telefono_usuario" placeholder="0000-0000"
                                    class="form-control" required>
                                <span class="input-group-text"><i class="ri-phone-fill"></i></span>
                            </div>
                        </div>
                        <!-- Campo para la fecha de nacimiento -->
                        <div class="col-12">
                            <label for="nacimiento_usuario" class="form-label label-dark">Nacimiento</label>
                            <input type="date" id="nacimiento_usuario" name="nacimiento_usuario" class="form-control"
                                required>
                        </div>
                        <!-- Campo para la contraseña -->
                        <div class="col-12">
                            <label for="clave_usuario" class="form-label label-dark">Contraseña</label>
                            <div class="input-group">
                                <input type="password" id="clave_usuario" name="clave_usuario" class="form-control"
                                    required>
                                <span class="input-group-text"><i class="ri-lock-fill"></i></span>
                            </div>
                        </div>
                        <!-- Campo para confirmar la contraseña -->
                        <div class="col-12">
                            <label for="confirmarClave" class="form-label label-dark">Confirmar contraseña</label>
                            <div class="input-group">
                                <input type="password" id="confirmarClave" name="confirmarClave" class="form-control"
                                    required>
                                <span class="input-group-text"><i class="ri-lock-fill"></i></span>
                            </div>
                        </div>
                        <!-- Campo para la dirección -->
                        <div class="col-12">
                            <label for="direccion_usuario" class="form-label label-dark">Dirección</label>
                            <input type="text" id="direccion_usuario" name="direccion_usuario" maxlength="250"
                                class="form-control" required>
                        </div>
                        <!-- Campo para subir una imagen -->
                        <div class="col-12">
                            <label for="imagen" class="form-label label-dark">Imagen</label>
                            <input type="file" name="imagen" id="imagen" accept=".png, .jpg" class="form-control">
                        </div>
                        <!-- Checkbox para aceptar términos y condiciones -->
                        <div class="col-12 form-check">
                            <input type="checkbox" class="form-check-input" id="condicion" name="condicion" required>
                            <label class="form-check-label label-dark" for="condicion">Acepto términos y
                                condiciones</label>
                        </div>
                        <!-- Botones para cancelar y registrar -->
                        <div class="text-center">
                            <button type="reset" class="btn btn-secondary"><i class="bi bi-x-square-fill"></i>
                                Cancelar</button>
                            <button type="submit" class="btn btn-primary"><i class="bi bi-person-fill"></i>
                                Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <!-- Librería de JavaScript para máscaras de texto -->
    <script type="text/javascript" src="../../resources/js/vanillaTextMask.js"></script>
    <!-- Inclusión de la librería del reCAPTCHA. Para más informacion https://developers.google.com/recaptcha/docs/v3 -->
    <script type="text/javascript"
        src="https://www.google.com/recaptcha/api.js?render=6LdBzLQUAAAAAJvH-aCUUJgliLOjLcmrHN06RFXT"></script>
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->

    <!-- Llamada al framework y libreria de mensajes -->
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/signup.js"></script>
</body>

</html>